body, html {
	background-color: #EDEDED !important;
}


.uppercase{
	text-transform:uppercase;
	text-align: center;
}

hr{
	width: 20px;
	margin-bottom: 30px;
}

.container{
	display: flex;
	align-items: center;
}

section.container div.row{
	margin-bottom: 0;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

div.modal div.modal-content{
	line-height: 0;
	padding: 0;
}

.modal-overlay{
	opacity: 1 !important;
}

.modal{
	overflow-y: hidden;
}

.row {
	padding: 100px 0;
}

div.col.s4{
	margin:0;
	padding: 0;
	line-height: 0;
}

#height-div{
	height: 50px;
}
