body, html {
	background-color: #EDEDED !important;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/* FORMULARIO */
.container-form{
    padding-top: 100px;
}
hr{
    width: 50px;
    margin-bottom: 50px;
}
form{
    margin-bottom: 10%;
}
/* FOOTER */
.footer-bg{
    background-color: #607d8b;
    padding: 0;
}
.bold{
    font-weight: 500;
    font-size: 15px;
}