body, html {
	background-color: #EDEDED !important;
}
/* HEADER */

/* HEADER */

/* FORMULARIO */
hr{
    width: 50px;
}

/* FORMULARIO */

/* FOOTER */
.container span{
    margin-left: 2%;
}
.footer-bg{
    background-color: #607d8b;
    width: 100%;
    height: 70px;
    margin-top: 70px;
    color: white;
}